@page "/"

<PageTitle>Home</PageTitle>
<BlazorServerAndWebAssembly.Client.Pages.Prueba></BlazorServerAndWebAssembly.Client.Pages.Prueba>
<PruebaJordi></PruebaJordi>
<BlazorServerAndWebAssembly.Client.Pages.Prueba2 @rendermode="@RenderMode.InteractiveWebAssembly"></BlazorServerAndWebAssembly.Client.Pages.Prueba2>
<h1>Hello, world!</h1>

Welcome to your new app.
